body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 2em;
  font-size: 1.3em;
}

/* header and footer areas */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

.posts_listing a,#nav a {
  text-decoration: none;
}


/* items */
li {
  margin-left: 20px;
}

ul li {
  margin-left: 5px;
}

ul li {
  list-style-type: none;
}
/*
ul li:before {
  content:"\00BB \0020 \00a0";
}
*/

#nav ul li:before, .posts_listing li:before {
  content:'';
  margin-right:0;
}

#content {
  text-align: left;
  width: 100%;
  font-size: 17px;
  padding: 60px 0 80px;
}

#content h1,#content h2 {
  margin-bottom: 5px;
}

#content h2 {
  font-size: 25px;
}

#content .entry-content {
  margin-top: 16px;
}

#content time {
  margin-left:3px;
}

#content h1 {
  font-size: 30px;
}