<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

<body>
<section id=nav>
  <h1><a href="/">{{ .Site.Params.sitename }}</a></h1>
  <ul>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</section>


<section id="content">
    <main>
    {{ .Content }}
    <h2 id="colaboradores">Colaboradores</h2>
<hr>
<div class="contenedor">
    <div>
        <img src="{{ "/images/about/matiasalfonso.JPG" | relURL }}" style = "width:200px" alt="Foto Matías" />
    </div>
    <div class="subcontenedor">
        <p style="flex-grow: 8">
            Matías Adrián Alfonso es científico de datos, programador, estadista. Lic. en Psicología. Es docente en la UNC y en la UCC.
        </p>
        <li style= "display:inline-block; text-align: center">
            <a href="mailto:matias.alfonso@gmail.com" style = "margin:20px">mail</a>
            <a href="https://github.com/mentoldo" style = "margin:20px">github</a>
            <a href="https://www.linkedin.com/in/mentoldo/" style = "margin:20px">linkedin</a>
            <a href="https://twitter.com/mentoldo" style = "margin:20px">twitter</a>
        </li>
    </div>
</div>
        
<hr>

<div class="contenedor">
    <div>
       <img src="{{ "/images/about/juanmanuelaleman.jpeg" | relURL }}" style = "width:200px" alt="Foto Juan" />
    </div>
    <div class="subcontenedor">
        <p style="flex-grow: 8">
            Juan M. Alemán es desarrollador NodeJS, Python, React. Posee experiencia en mantenimiento de servidores. Defensor y difusor del software libre. Freelancer con dedicación.
        <li style= "display:inline-block; text-align: center">
            <a href="Juale86@gmail.com" style = "margin:20px">mail</a>
            <a href="" style = "margin:20px">github</a>
            <a href="" style = "margin:20px">linkedin</a>
            <a href="" style = "margin:20px">twitter</a>
        </li>
    </div>
</div>

<hr>

<div class="contenedor">
    <div>
        <img src="{{ "/images/about/eduardobologna.jpg" | relURL }}" style = "width:200px" alt="Foto Matías" />
    </div>
    <div class="subcontenedor">
        <p style="flex-grow: 8">
            Eduardo León Bologna es profesor titular de Métodos Cuantitativos en las carreras de Psicología, Sociología y Ciencia Política de la UNC. Es doctor en Demografía, su investigación trata sobre migraciones en América Latina. Dirige la carrera de Especialización en Producción y Análisis de Información para Políticas Públicas y el programa de investigación Población, Desigualdad y Políticas Públicas en la Facultad de Ciencias Sociales
        </p>
        <li style= "display:inline-block; text-align: center">
            <a href="mailto:ebologna@gmail.com" style = "margin:20px">mail</a>
            <a href="https://www.linkedin.com/in/eduardo-bologna-10596829/" style = "margin:20px">linkedin</a>
        </li>
    </div>
</div>
    </main>
</section>
 <footer>
  {{ with .Site.Params.footer }}
  <hr/>
  {{ . | markdownify }}
  {{ end }}
  </footer>
  </body>
</html>
